[Unit]
Description=Trend - queries and saves requested data to db
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/waspy/projects/trend
ExecStart=/root/waspy/projects/trend/run_trend.sh
Restart=on-failure
SyslogIdentifier=trend

[Install]
WantedBy=multi-user.target


