[Unit]
Description=Trend - queries and saves requested data to db
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/mca/dev/wasp-hive/projects/trend
ExecStart=/home/mca/dev/wasp-hive/projects/trend/run_trend.sh
Restart=on-failure
SyslogIdentifier=trend

[Install]
WantedBy=multi-user.target


