[Unit]
Description=mill - orchestrates experiments and allows driver control
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/waspy/projects/mill
ExecStart=/root/waspy/projects/mill/run_mill.sh
Restart=on-failure
SyslogIdentifier=mill

[Install]
WantedBy=multi-user.target


