[Unit]
Description=Logbook - SQL database with data
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/waspy/projects/db
ExecStart=/root/waspy/projects/db/run_db.sh
Restart=on-failure
SyslogIdentifier=db

[Install]
WantedBy=multi-user.target
