[Unit]
Description=AML phi zeta controller
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/combs
ExecStart=/root/combs/aml --config aml_phi_zeta.toml
SyslogIdentifier=aml_phi_zeta

[Install]
WantedBy=multi-user.target
