[Unit]
Description=AML x y controller
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/combs
ExecStart=/root/combs/aml --config aml_x_y.toml
SyslogIdentifier=aml_x_y

[Install]
WantedBy=multi-user.target
