[Unit]
Description=Hive middle layer - python abstractions
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/wasp-hive
ExecStart=/root/wasp-hive/run.sh
Restart=on-failure
SyslogIdentifier=hive

[Install]
WantedBy=multi-user.target


