[Unit]
Description=Wait for eth to be Configured

[Service]
ExecStart=/lib/systemd/systemd-networkd-wait-online -i eth0 -i eth1 -4
Type=oneshot

[Install]
WantedBy=multi-user.target

