/* /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    /* transition: all 0.4s; */
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    /* transition: all 0.4s; */
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  body {
    background: floralwhite;
    /* background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c); */
    min-height: 100vh;
    overflow-x: hidden;
  }

  .logging {
    max-height:400px;
    background-color: #f8f9fa;
  }
  .active {
      font-weight: bold;
  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }
   
.rcorners {
  border-radius: 25px;
  border: 2px solid forestgreen;
  padding: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

 * {
    box-sizing: border-box;
    line-height: 100%;
  
  }
  .row {
  display: flex;
  line-height: 100%;
  padding-bottom:5%
  } 
  /* Create two equal columns that sits next to each other */
  .column {
  flex: 1%;
  padding: 1%;
  color: black;
  }
  .column-values {
  flex: 1%;
  padding: 1%;
  color: mediumblue;
  }
  
  /* firefox is special */
  hr {
  clear: both;
  }


  
 .container {
  width: 100%;
  clear: both;
  display: flex;
  float:left;
  padding-bottom:2%;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  } 

.daemon-list-ok {
  background-color: #f8f9fa;;
  color: black;
  padding: 2%;
}
.daemon-list-fail {
  background-color: #f8f9fa;;
  color: red;
  padding: 2%;
}

.min-container {
  width: 100%;
  display: flex;
  padding-bottom:0.5%;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  } 

  .justify-right{
    justify-items: right;
  }

  .padded {
    margin-right: 5px;
    margin-left: 5px;
  }
  input:focus {
    outline: 0;
}
  .container label {
  width:50%;
  top: 50%;
  text-align: left;
  }
  
  .container input {
  width: 50%;
  text-align: left;
  }
  
  .container input[type=checkbox],input[type=button] {
  width:min-content
  }
