.left-to-right {
  display: flex;
  justify-content: space-between;
  min-height:40px;
}

.close {
    font-size:unset;
}

.push-right {
    text-align:right;
}

.push {
    margin-top:0.2%;
    margin-bottom:0.2%;
    margin-left: auto;
}
.tab {
    margin-left: 10px;
}

.pad-bottom {
    margin-bottom: .5rem;
}

.max-filler{flex-grow:9; text-align:center}
.min-filler{flex-grow:1; text-align:center}

.row-less-pad {
    display: flex;
    padding-bottom: 0.5%;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.full-width {
    width:100%;
}
