.left-to-right {
  display: flex;
  justify-content: space-between;
}

.close {
    font-size:unset;
}

.push-right {
    text-align:right;
    display:flex;
    justify-content: flex-end;
    margin-top:0.5%;
    margin-bottom:0.5%;
}

.push {
    margin-top:0.2%;
    margin-bottom:0.2%;
    margin-left: auto;
    margin-right: 0;
}
.tab {
    margin-left: 10px;
}

.pad-bottom {
    margin-bottom: .5rem;
}


.btn {
    margin-left: 0.5%;
}

.max-filler{flex-grow:9; text-align:center}
.min-filler{flex-grow:1; text-align:center}

.row-less-pad {
    display: flex;
    padding-bottom: 0.5%;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.full-width {
    width:100%;
}
body {
    background: floralwhite;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
