{% extends "base.html" %}
{% import "ui_elements.html" as ui_elements %}
{% block title %}Welcome{% endblock %}
{% block content %}

<script type="module">
    import * as aml_max from '{{url_for('static', filename='aml_max.js')}}'
    window.aml_max = aml_max;
    aml_max.makeAml('{{prefix}}', '{{url}}', {{load_first}}, {{load_second}});

    window.setInterval(function() {
        aml_max.refreshData();
    }, 2000);
    

</script>

<div class="left-to-right"><h5> {{ prefix }}  </h5>
    <h5><span class="badge badge-danger" id="{{prefix}}_connect_status">Disconnected</span></h5>
</div>
<hr>
<div class="full-width">
    {{ ui_elements.dataLabelWithBadge('Time:', prefix+'_time') }}
    {{ ui_elements.dataLabelWithBadge('Request Acknowledge:', prefix+'_request_id') }}
    {{ ui_elements.dataLabelWithBadge('Expiry Date:', prefix+'_expiry_date') }}
    {{ ui_elements.dataLabelWithBadge('Status:', prefix+'_busy_status') }}
    {{ ui_elements.dataLabelWithBadgeAndInput('X:', prefix+'_first', prefix+'_first_request', 'X') }}
    {{ ui_elements.dataLabelWithBadgeAndInput('Y:', prefix+'_second', prefix+'_second_request', 'Y') }}
</div>
<div class="push-right">
    {{ ui_elements.buttonSpinner('Submit', prefix+'_submit_spinner', 'aml_max.submit()') }}
    {{ ui_elements.buttonSpinner('Load/Unload', prefix+'_clear_data_spinner', 'aml_max.load()') }}
    {{ ui_elements.buttonSpinner('Continue', prefix+'_continue_spinner', 'aml_max.continueOnError()') }}
</div>
<div id="{{prefix}}_request_status"></div>
<div id="{{prefix}}_error_status"></div>
<hr>
Motor 1
<hr>
<div class="full-width">
{{ ui_elements.dataLabelWithBadge('Temperature:', prefix+'_first_temperature') }}
{{ ui_elements.redefineButton("Redefine step counter", prefix+'_first_step', prefix+'_first_step_request', prefix+'_first_step_spinner', 'aml_max.redefineFirstStep()') }}
{{ ui_elements.redefineButton("Redefine motor position", prefix+'_first_position', prefix+'_first_position_request', prefix+'_first_position_spinner','aml_max.redefineFirstPos()') }}
{{ ui_elements.redefineButton("Redefine offset", prefix+'_first_offset', prefix+'_first_offset_request', prefix+'_first_offset_spinner', 'aml_max.redefineFirstOffset()') }}
</div>
<div class="push-right">
    {{ ui_elements.toggleButtonSpinner( 'idle update motor 1 position', prefix+'_toggle_first_position_text',
        prefix+'_toggle_first_position_button',prefix+'_toggle_first_position_spinner', 'aml_max.toggleFirstPos()') }}
    {{ ui_elements.toggleButtonSpinner( 'idle update motor 1 temperature', prefix+'_toggle_first_temperature_text',
        prefix+'_toggle_first_temperature_button', prefix+'_toggle_first_temperature_spinner', 'aml_max.toggleFirstTemperature()') }}
    {{ ui_elements.buttonSpinner('Get motor 1 position', prefix+'_get_first_pos_spinner', 'aml_max.getFirstPos()') }}
    {{ ui_elements.buttonSpinner('Get motor 1 temperature', prefix+'_get_first_temperature_spinner', 'aml_max.getFirstTemp()') }}
</div>

<hr>
Motor 2
<hr>

<div class="full-width">
{{ ui_elements.dataLabelWithBadge('Temperature:', prefix+'_second_temperature') }}
{{ ui_elements.redefineButton("Redefine step counter", prefix+'_second_step', prefix+'_second_step_request', prefix+'_second_step_spinner', 'aml_max.redefineSecondStep()') }}
{{ ui_elements.redefineButton("Redefine motor position", prefix+'_second_position', prefix+'_second_position_request', prefix+'_second_position_spinner','aml_max.redefineSecondPos()') }}
{{ ui_elements.redefineButton("Redefine offset", prefix+'_second_offset', prefix+'_second_offset_request', prefix+'_second_offset_spinner', 'aml_max.redefineSecondOffset()') }}
</div>
<div class="push-right">
    {{ ui_elements.toggleButtonSpinner( 'idle update motor 2 position', prefix+'_toggle_second_position_text',
        prefix+'_toggle_second_position_button',prefix+'_toggle_second_position_spinner', 'aml_max.toggleSecondPos()') }}
    {{ ui_elements.toggleButtonSpinner( 'idle update motor 2 temperature', prefix+'_toggle_second_temperature_text',
        prefix+'_toggle_second_temperature_button', prefix+'_toggle_second_temperature_spinner', 'aml_max.toggleSecondTemperature()') }}
    {{ ui_elements.buttonSpinner('Get motor 2 position', prefix+'_get_second_pos_spinner', 'aml_max.getSecondPos()') }}
    {{ ui_elements.buttonSpinner('Get motor 2 temperature', prefix+'_get_second_temperature_spinner', 'aml_max.getSecondTemp()') }}
</div>


{% endblock %}
