{% import "ui_elements.html" as ui_elements %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wasp Control panel</title>
    <script src="{{url_for('static', filename='chart.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

    <!-- used for panning on chart.js -->
    <script src="{{url_for('static', filename='hammer.min.js')}}"></script>
    <!-- used for panning and zooming on chart js. zooming depends on hammer.js -->
    <script src="{{url_for('static', filename='chartjs-plugin-zoom.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='feather.css')}}">
  </head>
  <body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Wasp control panel</div>
    <div class="navbar-brand">{% block title %}{% endblock %}</div>
</header>


<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
          <ul class="list-group">
      {{ ui_elements.activeLink('rbs_hw','RBS Hardware','play') }}
      {{ ui_elements.activeLinkWithOneArg('aml','aml_x_y', 'AML X Y','move') }}
      {{ ui_elements.activeLinkWithOneArg('aml','aml_det_theta', 'AML Det Theta','move') }}
      {{ ui_elements.activeLinkWithOneArg('aml','aml_phi_zeta', 'AML Phi Zeta','move') }}
      {{ ui_elements.activeLink('motrona_rbs','Motrona RBS','activity') }}
        </ul>

      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
{% block content %}
{% endblock %}
    </main>
  </div>
</div>
</body>
</html>
