{% import "ui_elements.html" as ui_elements %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wasp Control panel</title>
    <script src="{{url_for('static', filename='ext/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='ext/plotly-latest.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='ext/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='ext/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-sm">
  <div class="container-fluid">
    <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{ ui_elements.activeLink('dashboard','Dashboard') }}
          {{ ui_elements.activeLink('rbs_experiment.rbs_hw','RBS Hardware') }}
          {{ ui_elements.activeLinkWithOneArg('hardware_controllers.hw','aml_x_y', 'AML X Y') }}
          {{ ui_elements.activeLinkWithOneArg('hardware_controllers.hw','aml_phi_zeta', 'AML Phi Zeta') }}
          {{ ui_elements.activeLinkWithOneArg('hardware_controllers.hw','aml_det_theta', 'AML Det Theta') }}
          {{ ui_elements.activeLinkWithOneArg('hardware_controllers.hw','motrona_rbs', 'Motrona RBS') }}
          {{ ui_elements.activeLinkWithOneArg('hardware_controllers.hw','caen_charles_evans', 'Caen Charles Evans') }}
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="modalFail" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-danger">
        <h5 class="modal-title">Failure
      </div>
      <div class="modal-body" id="modalFailBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>


<div class="fluid-container ms-3 me-3 mb-3">
{% block content %}
{% endblock %}
</div>
</body>
</html>
