<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='sidebar.css')}}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

</head>
<body>

<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media-body">
          <h4 class="m-0">RBS Control panel</h4>
          <p class="font-weight-light text-muted mb-0">MCA-IBA</p>
        </div>
    </div>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
    <ul class="nav flex-column bg-white mb-0">
      
        <li class="nav-item  {% if request.path == url_for('welcome')%} active {%endif%}">
        <a href="{{url_for('welcome')}}" class="nav-link text-dark">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  {% if request.path == url_for('welcome')%} > {%endif%} Dashboard
              </a>
      </li>
      <li class="nav-item  {% if request.path == url_for('dashboard_v2')%} active {%endif%}">
        <a href="{{url_for('dashboard_v2')}}" class="nav-link text-dark">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  {% if request.path == url_for('dashboard_v2')%} > {%endif%} Dashboard v2
              </a>
      </li>
      <li class="nav-item  {% if request.path == url_for('min_itf')%} active {%endif%}">
        <a href="{{url_for('min_itf')}}" class="nav-link text-dark">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  {% if request.path == url_for('min_itf')%} > {%endif%} Minimal Interface
              </a>
      </li>
      <li class="nav-item  {% if request.path == url_for('aml_x_y')%} active {%endif%}">
        <a href="{{url_for('aml_x_y')}}" class="nav-link text-dark">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  {% if request.path == url_for('aml_x_y')%} > {%endif%} AML X_Y
              </a>
      </li>
      <li class="nav-item  {% if request.path == url_for('det01_theta', index=0)%} active {%endif%}">
        <a href="{{url_for('det01_theta', index=0)}}" class="nav-link text-dark">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  {% if request.path == url_for('det01_theta', index=0)%} > {%endif%} AML DET01_THETA
              </a>
      </li>
      <li class="nav-item">
        <li class="nav-item  {% if request.path == url_for('phi_zeta')%} active {%endif%}">
            <a href="{{url_for('phi_zeta')}}" class="nav-link text-dark">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  {% if request.path == url_for('phi_zeta')%} > {%endif%} AML PHI_ZETA
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  CAEN
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  CANBERRA
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  MOTRONA
              </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
                  <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                  Area charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
                  <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                  Bar charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
                  <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                  Pie charts
              </a>
      </li>
      <li class="nav-item">
        <li class="nav-item  {% if request.path == url_for('line')%} active {%endif%}">
            <a href="{{url_for('line')}}" class="nav-link text-dark">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  {% if request.path == url_for('line')%} > {%endif%} Line charts
              </a>
      </li>

    </ul>
  </div>
  <!-- End vertical navbar -->
  
<div class="page-content p-5" id="content">
{% block content %}
{% endblock %}
</div>

</body>
</html>