{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

<h1>CAEN Data acquisition</h1>

<div class="row">
  <div class="column" style="background-color:#e6ffe6;">
    <h2>Actuals</h2>

    <div class="container">
      <canvas id="chart" width="800" height="600"></canvas>
    </div> 
    {% for channelSize in channelSizes %}
      {% set boardIndex = loop.index0 %}
        <div class="container"> <h5>Board-{{boardIndex}}</h5>
        {% for channelIndex in range(channelSize) %}
           <div class="container-fluid">
            <div class="row justify-content-center">
              <strong>{{channelIndex}}</strong>
            </div>
            <div class="row justify-content-center">
              <div class="spinner-grow spinner-grow-sm" role="status" style="visibility: hidden" 
                id="spinner-{{boardIndex}}-{{channelIndex}}">
                   <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    {% endfor %}


  </div>
  <div class="column" style="background-color:paleturquoise;">
    <h2>Engine</h2>
    <div class="container">
      <select name="channels" id="channels">
      {% for channelSize in channelSizes %}
        {% set boardIndex = loop.index0 %}
          {% for channelIndex in range(channelSize) %}
            <option value="{{boardIndex}}-{{channelIndex}}">board {{boardIndex}} channel {{channelIndex}}</option>
          {% endfor %}
      {% endfor %}
      </select> 
    </div>
    <div class="container"><label> update</label><input type="checkbox" id="update_chart"></div>
  </div>
</div>


<script>
  window.setInterval(function(){
    refreshData();
},1000)

//var lineChart
Chart.defaults.global.animationSteps = 0;

Chart.defaults.global.tooltipYPadding = 16;
Chart.defaults.global.tooltipCornerRadius = 0;
Chart.defaults.global.tooltipTitleFontStyle = "normal";
Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
Chart.defaults.global.animationEasing = "easeOutBounce";
Chart.defaults.global.responsive = false;
Chart.defaults.global.scaleLineColor = "black";
Chart.defaults.global.scaleFontSize = 16;


let x_coordinates = [];
let y_coordinates = [];
var ctx = document.getElementById('chart').getContext('2d');

let lineChart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'scatter',

  // The data for our dataset
  data: {
      labels: [],
      datasets: [{
          label: 'Histogram Board 0 Channel 0',
          backgroundColor: 'rgba(242, 207, 222, 0.40)'
      }]
  },

  // Configuration options go here
  options: {
    animation: {
      duration: 0
    } 
  }
});


function updateGraph() 
{
  let url = "http://DESKTOP-GL7PJ05:22123/liveData_" + selectedChannel;
  let xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      if (lineChart) {
        lineChart.data.datasets[0].data = [];
        let i = 0;
        samples = xhr.response.split(",");
        for (const datapoint of samples) {
          element = {
            x: i,
            y: parseInt(datapoint)
          }
          lineChart.data.datasets[0].data.push(element);
          i++;
        }
        lineChart.update();
      }
    }
  }

  xhr.open("GET", url, true);
  xhr.setRequestHeader("Content-Type","text/plain;charset=UTF-8");
  xhr.send();
}

function updateChannelActivity()
{
  let url2 = "http://192.168.178.29:22123/actuals";
  let xhr2 = new XMLHttpRequest();
  xhr2.onreadystatechange = function () {
    if (xhr2.readyState === 4) {
      rawData = xhr2.response;
      data = JSON.parse(rawData);
      
      let channelSizes = {{channelSizes}};
      console.log(channelSizes);
      let index = 0;
      for (const channelSize of channelSizes) {
        for (channelIndex=0; channelIndex < channelSize; channelIndex++) {

          var spinner = document.getElementById("spinner-"+index+"-"+channelIndex);

          if (data["Board" + index]["Channel"+channelIndex]["data_received"]) {
            spinner.style.visibility = 'visible';
          }
          else {
            spinner.style.visibility = 'hidden';
          }
        }
        index++;
      }
    }
  }

  xhr2.open("GET", url2, true);
  xhr2.setRequestHeader("Content-Type","text/plain;charset=UTF-8");
  xhr2.send();
}

function refreshData() 
{
//  var x = document.getElementById("spinnerId");
//  x.style.visibility = 'hidden';
  if (document.getElementById("update_chart").checked) {
    console.log("updating");
    selectedChannel = document.getElementById("channels").value;
    updateGraph();
  }

  updateChannelActivity();
}

</script>




{% endblock %}
