{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

<h1>CAEN Data acquisition</h1>

<div class="row">
  <div class="column" style="background-color:#e6ffe6;">
    <h2>Actuals</h2>
    <div class="container">
      <canvas id="chart" width="800" height="600"></canvas>
    </div>
    <div id="actuals">
    </div>



  </div>
  <div class="column" style="background-color:paleturquoise;">
    <h2>Engine</h2>
    <div class="container">
      <select name="channelgraph" id="graphSelect">
      </select>
    </div>
    <div class="container"><label> update</label><input type="checkbox" id="update_chart"></div>

      <div class="container">
    <div class="btn-group-vertical">
    <button type="button" class="btn btn-primary" onclick="startAcq()">Start Acquisition</button>
    <button type="button" class="btn btn-primary" onclick="stopAcq()"> Stop Acquisition</button>
    <button type="button" class="btn btn-primary" onclick="clearData()">Clear Data</button>
    <button type="button" class="btn btn-primary" onclick="closeDaemon()">Close</button>
    <button type="button" class="btn btn-primary" onclick="recordListData()">Record List Data</button>
    <button type="button" class="btn btn-primary" onclick="saveHistogram()">save histogram</button>
    <button type="button" class="btn btn-primary" onclick="updateChannels()">Refresh</button>
    </div>
  </div>
    <div class="padded-top"><label id="status"> status</label></div>
  </div>
</div>



<script>
  window.setInterval(function(){
    refreshData();
},1000)

//var lineChart
Chart.defaults.global.animationSteps = 0;

Chart.defaults.global.tooltipYPadding = 16;
Chart.defaults.global.tooltipCornerRadius = 0;
Chart.defaults.global.tooltipTitleFontStyle = "normal";
Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
Chart.defaults.global.animationEasing = "easeOutBounce";
Chart.defaults.global.responsive = false;
Chart.defaults.global.scaleLineColor = "black";
Chart.defaults.global.scaleFontSize = 16;


let x_coordinates = [];
let y_coordinates = [];
var ctx = document.getElementById('chart').getContext('2d');

let lineChart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'scatter',

  // The data for our dataset
  data: {
      labels: [],
      datasets: [{
          label: 'Histogram Board 0 Channel 0',
          backgroundColor: 'rgba(242, 207, 222, 0.40)'
      }]
  },

  // Configuration options go here
  options: {
    animation: {
        duration: 0 // general animation time
    },
    hover: {
        animationDuration: 0 // duration of animations when hovering an item
    },
    elements: {
      line: {
          tension: 0 // disables bezier curves
      }
    },

    responsiveAnimationDuration: 0 // animation duration after a resize
  }
});


function sendEngine(textBody)
{
  fetch('http://DESKTOP-GL7PJ05:22123/engine', {
    method: 'POST',
    headers: {
      'Content-Type': 'text/plain',
    },
    body: textBody
  })
  .then(response => response.text())
  .then(data => {
    console.log('Success:', data);
  })
  .catch((error) => {
    document.getElementById("status").innerText=
      "Error when sending engine:\n" + error;
  });
}

function saveHistogram()
{
  let timestamp = new Date(Date.now()).toLocaleTimeString("nl-BE");
  request = "engine_file_created_at="+timestamp + "\n";
  request += "store_histogram=true";
  sendEngine(request);
}
function clearData()
{
  let timestamp = new Date(Date.now()).toLocaleTimeString("nl-BE");
  request = "engine_file_created_at="+timestamp + "\n";
  request += "clear_acquisition=true";
  sendEngine(request);
}

function closeDaemon()
{
  let timestamp = new Date(Date.now()).toLocaleTimeString("nl-BE");
  request = "engine_file_created_at="+timestamp + "\n";
  request += "exit=true";
  sendEngine(request);

  actualsDiv = document.getElementById("actuals");
  actualsDiv.innerHTML = '';

  graphSelect = document.getElementById("graphSelect");
  graphSelect.innerText = '';

  lineChart.data.datasets[0].label = "";
  lineChart.data.datasets[0].data = [];
}

function recordListData()
{
  let timestamp = new Date(Date.now()).toLocaleTimeString("nl-BE");
  request = "engine_file_created_at="+timestamp + "\n";
  request += "store_list_data=true";
  sendEngine(request);
}

function startAcq()
{
  let timestamp = new Date(Date.now()).toLocaleTimeString("nl-BE");
  request = "engine_file_created_at="+timestamp + "\n";
  request += "start_acquisition=true";
  sendEngine(request);
}

function stopAcq()
{
  let timestamp = new Date(Date.now()).toLocaleTimeString("nl-BE");
  request = "engine_file_created_at="+timestamp + "\n";
  request += "stop_acquisition=true";
  sendEngine(request);
}

function drawGraph(response)
{
  if (lineChart) {
    let select =  document.getElementById("graphSelect");
    lineChart.data.datasets[0].label = "Histogram board " + select.options[select.selectedIndex].text;
    lineChart.data.datasets[0].data = [];
    let i = 0;
    response = response.split(",");
    for (const datapoint of response) {
      element = {
        x: i,
        y: parseInt(datapoint)
      }
      lineChart.data.datasets[0].data.push(element);
      i++;
    }
    lineChart.update();
  }
}

function updateGraph()
{
  selectedChannel = document.getElementById("graphSelect").value;
  updateEnable = document.getElementById("update_chart").checked;

  if (selectedChannel && updateEnable) {
    fetch("http://192.168.178.29:22123/liveData_" +selectedChannel)
    .then(response => response.text())
    .then(drawGraph)
    .catch(error => {
      document.getElementById("status").innerText=
        "Error when updating graph:\n" + error;
    })
  }
}

function updateChannelActivity()
{
  fetch("http://192.168.178.29:22123/actuals")
    .then(response => response.json())
    .then(drawSpinners)
    .catch(error => {
      document.getElementById("status").innerText=
        "Error when updating channel activity:\n" + error;
    })
}

function drawSpinners(result)
{
  channelSizes = result["Actuals"]["channels"];
  let index = 0;
  for (const channelSize of channelSizes) {
    for (channelIndex=0; channelIndex < channelSize; channelIndex++) {

      var spinner = document.getElementById("spinner-"+index+"-"+channelIndex);

      if (spinner === null) {continue;}

      if (result["Board" + index]["Channel"+channelIndex]["data_received"]) {
        spinner.style.visibility = 'visible';
      }
      else {
        spinner.style.visibility = 'hidden';
      }
    }
    index++;
  }
}

function createChannelSpinner(boardIndex,channelIndex)
{
  let channelDiv = document.createElement('div');

  let channelText = document.createElement('div');
  channelText.classList.add("row","justify-content-center");
  channelText.innerText = channelIndex;

  let channelSpinner = document.createElement('div');
  channelSpinner.classList.add("spinner-grow", "spinner-grow-sm");
  channelSpinner.setAttribute("role", "status");
  channelSpinner.setAttribute("style", "visibility: hidden");
  channelSpinner.setAttribute("id", "spinner-" + boardIndex + "-" + channelIndex);

  channelDiv.appendChild(channelText);
  channelDiv.appendChild(channelSpinner);

  return channelDiv
}

function createGraphOption(boardIndex, channelIndex)
{
  graphOption = document.createElement('option');
  graphOption.innerText = 'board ' + boardIndex + " - channel " + channelIndex;
  graphOption.value = boardIndex + "-" + channelIndex;

  return graphOption;
}


function nrOfChannelsChanged(result)
{
  actualsDiv = document.getElementById("actuals");
  actualsDiv.innerHTML = '';

  graphSelect = document.getElementById("graphSelect");
  graphSelect.innerText = '';

  channels = result["Actuals"]["channels"];
  let boardIndex = 0;

  for (const channelSize of channels) {
    var boardDiv = document.createElement('div');
    boardDiv.classList.add("container");
    let boardStr = result["Board"+boardIndex]["hardware_type"];
    boardDiv.innerText = 'Board-' + boardIndex + ": " + boardStr;
    for ( channelIndex = 0; channelIndex < channelSize; channelIndex++) {
      graphSelect.appendChild(createGraphOption(boardIndex, channelIndex));
      boardDiv.appendChild(createChannelSpinner(boardIndex, channelIndex));
    }
    actualsDiv.appendChild(boardDiv);
    boardIndex++;
  }
}


function updateChannels()
{
  fetch("http://192.168.178.29:22123/actuals")
    .then(response => response.json())
    .then(nrOfChannelsChanged)
    .catch(error => {
      document.getElementById("status").innerText=
      "Error when trying to reach CAEN daemon:\n" + error;
    });
}



function refreshData()
{
  updateChannelActivity();
  updateGraph();
}

</script>




{% endblock %}
