{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<table class="table table-striped table-hover">
  <thead>
      <th scope="col">Name</th>
      <th scope="col">Connection state</th>
      <th scope="col">Error State</th>
      <th scope="col">Last request id</th>
      <th scope="col">Other</th>
  </thead>
  <tbody>
      {% for aml in rbs_config["aml"] %}
      <tr>
          <td> {{aml["title"]}}</td>
          <td> <div class="badge bg-secondary" id={{aml["id"]}}_connect_state> </div></td>
          <td> <div id={{aml["id"]}}_error_state> </div></td>
          <td> <div id={{aml["id"]}}_request_id></div></td>
          <td> <div id={{aml["id"]}}_busy></div></td>
      </tr>
      {% endfor %}

      {% for caen in rbs_config["caen"] %}
      <tr>
          <td> {{caen["title"]}}</td>
          <td> connect_state</td>
          <td> error_state</td>
          <td> request_id</td>
          <td> acquiring</td>
      </tr>
      {% endfor %}

      {% for motrona in rbs_config["motrona"] %}
      <tr>
          <td> {{motrona["title"]}}</td>
          <td> connect_state</td>
          <td> error_state</td>
          <td> request_id</td>
          <td> counting</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
 
<script type="module">
    import * as dashboard from '{{url_for('static', filename='dashboard.js')}}'

    dashboard.refreshAllData({{rbs_config|safe}});
    window.setInterval(function() {
        dashboard.refreshAllData({{rbs_config|safe}});
    }, 2000);
</script>

{% endblock %}
