{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<script type="module">
    import * as dashboard from '{{url_for('static', filename='dashboard.js')}}'
    window.dashboard = dashboard;
</script>
<h1> disabled temporarily, please go to RBS Hardware </h1>

<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Connection state</th>
      <th scope="col">Error State</th>
      <th scope="col">Last request id</th>
      <th scope="col">Other</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2</th>
      <td>aml_x_y</td>
      <td><h5><span class="badge bg-success" id="aml_x_y_connect_status">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_x_y_error_status">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_x_y_request_id">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_x_y_acquiring_data">-<span></h5></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>aml_det_theta</td>
      <td><h5><span class="badge bg-success" id="aml_det_theta_connect_status">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_det_theta_error_status">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_det_theta_request_id">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_det_theta_acquiring_data">-<span></h5></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>aml_phi_zeta</td>
      <td><h5><span class="badge bg-success" id="aml_phi_zeta_connect_status">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_phi_zeta_error_status">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_phi_zeta_request_id">-<span></h5></td>
      <td><h5><span class="badge bg-success" id="aml_phi_zeta_acquiring_data">-<span></h5></td>
    </tr>
  </tbody>
</table>
-->

{% endblock %}
