{% extends "base.html" %}
{% import "ui_elements.html" as ui_elements %}

{% block content %}

<script type="module">
    import * as con from '{{url_for('static', filename='controllers/daemon_connection.js')}}'
    window.con = con;
    window.setInterval( () => { con.getStatus("http://localhost:22000/api/latest", "status");  }
    , 2000);
</script>

<div class="card">
  <div class="card-body" id="status">
  </div>
</div>


<!-- automatic ui generation from jsonschema -->

{% set props = caps['properties'] %}
<div class="push-right">
   {% for key, value in props.items() %}
     {% if value['type'] == 'boolean' %} 
      {% set spinner = key + "_submit_spinner" %}
      {% set call = "con.sendRequestAndSpin('http://localhost:22000/api/latest', {'"+key+"':true},  \"" + spinner + "\")" %}
      {{ ui_elements.buttonSpinnerWithDescription(key, spinner, value['description'] ,call) }}
      {% endif %}
   {% endfor %}
<div>

{% endblock %}
