{% extends "base.html" %}
{% import "ui_elements.html" as ui_elements %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<hr>
<div class="clearfix">
    <h3 class="float-start">{{title}}</h3>
    <h5 class="float-end">
        <span class="badge badge-danger" id="{{prefix}}_connect_status">Not Running</span>
    </h5>
</div>
<hr>

<table class="table table-striped table-hover table-sm">
    <thead>  {{ ui_elements.tableHeader() }} </thead>
    <tbody>
{{ ui_elements.value_row('Request Id:', prefix+'_request_id') }}
{{ ui_elements.value_row('Request Finish:', prefix+'_request_finished') }}
{{ ui_elements.value_row('Counts:', prefix+'_counts') }}
{{ ui_elements.value_row('Counting Status:', prefix+'_status') }}
{{ ui_elements.value_row('charge(nC):', prefix+'_charge') }}
{{ ui_elements.value_row('Counting time(msec):', prefix+'_counting_time') }}
{{ ui_elements.value_row('Current(nA):', prefix+'_current') }}
{{ ui_elements.value_row('Error Status:', prefix+'_error') }}
{{ ui_elements.value_row('Target Counts:', prefix+'_target_counts') }}
{{ ui_elements.value_row('Firmware Version:', prefix+'_firmware_version') }}
    </tbody>
</table>


<div class="clearfix"><div class="btn-group float-end">
{{ ui_elements.buttonSpinnerWithRequest("pause counting", "max_motrona.sendARequest", url, prefix, 'pause', '{"pause_counting":true}') }}
{{ ui_elements.buttonSpinnerWithRequest("clear start counting", "max_motrona.sendARequest", url, prefix, 'clearstart', '{"clear-start_counting":true}') }}
{{ ui_elements.buttonSpinnerWithRequest("hide", "max_motrona.sendARequest", url, prefix, 'hide', '{"hide":true}') }}
{{ ui_elements.buttonSpinnerWithRequest("show", "max_motrona.sendARequest", url, prefix, 'show', '{"hide":false}') }}
{{ ui_elements.buttonSpinnerWithRequest("continue", "max_motrona.sendARequest", url, prefix, 'continue', '{"continue":true}') }}
</div></div>

<hr>
<table class="table table-striped table-hover table-sm">
    <thead>
        <tr> <th scope="col">Counting Settings</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
    </thead>
    <tbody>
{{ ui_elements.value_row_input('Target Charge:', 'max_motrona.sendFloat', url, prefix, 'target_charge', 'target_charge','Set')}}
{{ ui_elements.value_row_input('Pulses to Counts Factor:', 'max_motrona.sendFloat', url, prefix, 'pulse_to_counts', 'pulse_count_factor','Set')}}
{{ ui_elements.value_row_input('Counts to Charge Factor:', 'max_motrona.sendFloat', url, prefix, 'counts_to_charge', 'count_charge_factor','Set')}}
{{ ui_elements.value_row_drop('Counting Mode:', 'max_motrona.sendString', url, prefix, 'count_mode', 'set_count_mode',
    ["a_single","a+b","a-b","a/b_90_x1","a/b_90_x2","a/b_90_x4"],'Set')}}
{{ ui_elements.value_row_drop('Input type:', 'max_motrona.sendString', url, prefix, 'input_pulse_type', 'set_type_of_input_pulse',
    ["npn","pnp","namur","tri-state"],'Set')}}

    <thead>
        <tr> <th scope="col">Analog Settings</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
    </thead>
    <tbody>
{{ ui_elements.value_row_input('Analog Start:','max_motrona.sendInt', url, prefix, 'analog_start', 'set_analog_start','Set')}}
{{ ui_elements.value_row_input('Analog End:'  ,'max_motrona.sendInt', url, prefix, 'analog_end'  , 'set_analog_end','Set')}}
{{ ui_elements.value_row_input('Analog Offset:','max_motrona.sendFloat',  url, prefix, 'analog_offset', 'set_analog_offset','Set')}}
{{ ui_elements.value_row_input('Analog Gain:','max_motrona.sendFloat',  url, prefix, 'analog_gain', 'set_analog_gain','Set')}}
    <thead>
        <tr> <th scope="col">Preselection Settings</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
    </thead>
    <tbody>
{{ ui_elements.value_row_input('Preselection 1:', 'max_motrona.sendInt', url, prefix, 'preselection_1', 'preselection_1','Set')}}
{{ ui_elements.value_row_input('Preselection 2:', 'max_motrona.sendInt', url, prefix, 'preselection_2', 'preselection_2','Set')}}
{{ ui_elements.value_row_input('Preselection 3:', 'max_motrona.sendInt', url, prefix, 'preselection_3', 'preselection_3','Set')}}
{{ ui_elements.value_row_input('Preselection 4:', 'max_motrona.sendInt', url, prefix, 'preselection_4', 'preselection_4','Set')}}
<thead>

        <tr> <th scope="col">Debugging</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
    </thead>
    <tbody>
{{ ui_elements.value_row_toggle('Debugging rs232:','max_motrona.toggle',  url, prefix, 'debug_rs232', 'debug_rs232')}}
{{ ui_elements.value_row_toggle('Debug broker:','max_motrona.toggle',  url, prefix, 'debug_broker', 'debug_broker')}}
{{ ui_elements.value_row_toggle('Debug motrona:','max_motrona.toggle',  url, prefix, 'debug_motrona', 'debug_motrona')}}
    </tbody>
</table>


<script type="module">
    import * as max_motrona from '{{url_for('static', filename='max_motrona.js')}}'
    window.max_motrona = max_motrona;
    max_motrona.setMaxMode();
    max_motrona.refreshData('{{url}}','{{prefix}}');
    window.setInterval(function() {
        max_motrona.refreshData('{{url}}','{{prefix}}');
    }, 2000);
</script>

{% endblock %}
