{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}


<div class="row">
    <div class="col">
        
        <h3>AML x_y </h3> 
        <hr>
        <div class="container"><label>13:44.12</label> </div>
        <form method="POST">
            <div class="min-container"><label>100 </label> <input type="text" id="set_m1_position"></div>           
            <div class="min-container"><label>15.00 </label> <input type="text" id="set_m2_position"> </div>
        </form>
        <div class="input">
            <button type="button" class="btn btn-primary padded">submit</button>
            <button type="button" class="btn btn-primary padded">load/unload</button>
            <button type="button" class="btn btn-primary padded">exit</button>
        </div>
        
    </div>
    <div class="col">
        
        <h3>AML det01_theta </h3> 
        <hr>
        <div class="container"><label>13:44.12</label> </div>
        <form method="POST">
            <div class="min-container"><label>100 </label> <input type="text" id="set_m1_position"></div>           
            <div class="min-container"><label>15.00 </label> <input type="text" id="set_m2_position"> </div>
        </form>
        <div class="input">
            <button type="button" class="btn btn-primary padded">submit</button>
            <button type="button" class="btn btn-primary padded">load/unload</button>
            <button type="button" class="btn btn-primary padded">exit</button>
        </div>
        
    </div>
    <div class="col">
        <h3>AML phi_zeta </h3> 
        <hr>
        <div class="container"><label>13:44.12</label> </div>
        <form method="POST">
            <div class="min-container"><label>100 </label> <input type="text" id="set_m1_position"></div>           
            <div class="min-container"><label>15.00 </label> <input type="text" id="set_m2_position"> </div>
        </form>
        <div class="input">
            <button type="button" class="btn btn-primary padded">submit</button>
            <button type="button" class="btn btn-primary padded">load/unload</button>
            <button type="button" class="btn btn-primary padded">exit</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        
        <h3>CAEN </h3> 
        <hr>
        <div class="container"><label>13:44.12</label> </div>
        <form method="POST">
            <div class="min-container"><label>... </label> <input type="text" id="set_m1_position"></div>           
            <div class="min-container"><label>... </label> <input type="text" id="set_m2_position"> </div>
        </form>
        <div class="input">
            <button type="button" class="btn btn-primary padded">submit</button>
            <button type="button" class="btn btn-primary padded">load/unload</button>
            <button type="button" class="btn btn-primary padded">exit</button>
        </div>
        
    </div>
    <div class="col">
        
        <h3>CANBERRA </h3> 
        <hr>
        <div class="container"><label>13:44.12</label> </div>
        <form method="POST">
            <div class="min-container"><label>...</label> <input type="text" id="set_m1_position"></div>           
            <div class="min-container"><label>...</label> <input type="text" id="set_m2_position"> </div>
        </form>
        <div class="input">
            <button type="button" class="btn btn-primary padded">submit</button>
            <button type="button" class="btn btn-primary padded">load/unload</button>
            <button type="button" class="btn btn-primary padded">exit</button>
        </div>
        
    </div>
    <div class="col">
        <h3>MOTRONA </h3> 
        <hr>
        <div class="container"><label>13:44.12</label> </div>
        <form method="POST">
            <div class="min-container"><label>... </label> <input type="text" id="set_m1_position"></div>           
            <div class="min-container"><label>... </label> <input type="text" id="set_m2_position"> </div>
        </form>
        <div class="input">
            <button type="button" class="btn btn-primary padded">submit</button>
            <button type="button" class="btn btn-primary padded">load/unload</button>
            <button type="button" class="btn btn-primary padded">exit</button>
        </div>
    </div>
</div>
{% endblock %}