{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<script type="module">
    // It is not recommended to add all the calls to the window as this pollutes the global namespace
    // unfortunately my javascript knowledge is not sufficient to figure out a better way
    import * as min_itf from '{{url_for('static', filename='min_itf.js')}}'
    window.onSubmitAmlXY = min_itf.onSubmitAmlXY
    window.onLoadAmlXY = min_itf.onLoadAmlXY
    window.onUnLoadAmlXY = min_itf.onUnLoadAmlXY
    window.onContinueAmlXY = min_itf.onContinueAmlXY
    window.onSubmitAmlDetTheta = min_itf.onSubmitAmlDetTheta
    window.onLoadAmlDetTheta = min_itf.onLoadAmlDetTheta
    window.onUnLoadAmlDetTheta = min_itf.onUnLoadAmlDetTheta
    window.onContinueAmlDetTheta = min_itf.onContinueAmlDetTheta
    window.onSubmitAmlPhiZeta = min_itf.onSubmitAmlPhiZeta
    window.onLoadAmlPhiZeta = min_itf.onLoadAmlPhiZeta
    window.onUnLoadAmlPhiZeta = min_itf.onUnLoadAmlPhiZeta
    window.onContinueAmlPhiZeta = min_itf.onContinueAmlPhiZeta
    window.min_itf = min_itf;
</script>
<hr>
<div class="left-to-right"><h5>AML x_y  </h5>
    <h5><span class="badge badge-danger" id="aml_x_y_connect_status">Disconnected</span></h5>
</div>
<hr>
<div class="left-to-right"><label>Timestamp</label><label id="aml_x_y_request_id">-</label> </div>
<div class="left-to-right" >X:
    <div id="aml_x_y_first" class="tab">-</div>
    <input class="push" type="text" id="aml_x_y_first_request" placeholder="X">
</div>
<div class="left-to-right">Y:
    <div id="aml_x_y_second" class="tab">-</div>
    <input class="push" type="text" id="aml_x_y_second_request" placeholder="Y">
</div>
<div class="input text-right push">
    <button type="button" class="btn btn-primary padded" onclick="onSubmitAmlXY()">Submit</button>
    <button type="button" class="btn btn-primary padded" onclick="onLoadAmlXY()">Load</button>
    <button type="button" class="btn btn-primary padded" onclick="onUnLoadAmlXY()">Unload</button>
    <button type="button" class="btn btn-primary padded" onclick="onContinueAmlXY()">Continue</button>
</div>
<div id="aml_x_y_error_status"></div>
<div id="aml_x_y_request_status"></div>
<div id="aml_x_y_busy_status" class="spinner-border" role="status" style="display:none">
    <span class="sr-only">Loading...</span>
</div>

<hr>
<div class="left-to-right"><h5>AML det theta</h5>
    <h5><span class="badge badge-danger" id="aml_det_theta_connect_status">Disconnected</span></h5>
</div>
<hr>
<div class="left-to-right"><label>Timestamp</label><label id="aml_det_theta_request_id"l>-</label> </div>
<div class="left-to-right">det:
    <div id="aml_det_theta_first" class="tab">-</div>
    <input class="push" type="text" id="aml_det_theta_first_request" placeholder="det">
</div>
<div class="left-to-right">theta:
    <div id="aml_det_theta_second" class="tab">-</div>
    <input class="push" type="text" id="aml_det_theta_second_request" placeholder="theta">
</div>
<div class="input text-right push">
    <button type="button" class="btn btn-primary padded" onclick="onSubmitAmlDetTheta()">Submit</button>
    <button type="button" class="btn btn-primary padded" onclick="onLoadAmlDetTheta()">Load</button>
    <button type="button" class="btn btn-primary padded" onclick="onUnLoadAmlDetTheta()">Unload</button>
    <button type="button" class="btn btn-primary padded" onclick="onContinueAmlDetTheta()">Continue</button>
</div>
<div id="aml_det_theta_error_status"></div>
<div id="aml_det_theta_request_status"></div>
<div id="aml_det_theta_busy_status" class="spinner-border" role="status" style="display:none">
    <span class="sr-only">Loading...</span>
</div>

<hr>
<div class="left-to-right"><h5>AML phi zeta</h5>
    <h5><span class="badge badge-danger" id="aml_phi_zeta_connect_status">Disconnected</span></h5>
</div>
<hr>
<div class="left-to-right"><label>Timestamp</label><label id="aml_phi_zeta_request_id">-</label> </div>
<div class="left-to-right">phi:
    <div id="aml_phi_zeta_first" class="tab">-</div>
    <input class="push" type="text" id="aml_phi_zeta_first_request" placeholder="phi">
</div>
<div class="left-to-right">zeta:
    <div id="aml_phi_zeta_second" class="tab">-</div>
    <input class="push" type="text" id="aml_phi_zeta_second_request" placeholder="zeta">
</div>
<div class="input text-right push">
    <button type="button" class="btn btn-primary padded" onclick="onSubmitAmlPhiZeta()">Submit</button>
    <button type="button" class="btn btn-primary padded" onclick="onLoadAmlPhiZeta()">Load</button>
    <button type="button" class="btn btn-primary padded" onclick="onUnLoadAmlPhiZeta()">Unload</button>
    <button type="button" class="btn btn-primary padded" onclick="onContinueAmlPhiZeta()">Continue</button>
</div>
<div id="aml_phi_zeta_error_status"></div>
<div id="aml_phi_zeta_request_status"></div>
<div id="aml_phi_zeta_busy_status" class="spinner-border" role="status" style="display:none">
    <span class="sr-only">Loading...</span>
</div>

<hr>
<div class="left-to-right"><h5>CAEN </h5>
    <h5><span class="badge badge-danger" id="caen_connect_status">Disconnected</span></h5>
</div>
<hr>

<div class="full-width">
<div class="row justify-content-between">
    <div class="col-4">Timestamp</div>
    <div class="col-8"><span class="badge badge-light" id="caen_request_id">-</span></div> 
</div>
<div class="row justify-content-between">
    <div class="col-4">Acquiring Data:</div>
    <div class="col-8"><span class="badge badge-light" id="caen_acquiring_data">-</span></div>
</div>
<div class="row justify-content-between">
    <div class="col-4">Storing List Data:</div>
    <div class="col-8"><span class="badge badge-light" id="caen_storing_list_data">-</span></div>
</div>
<div class="row justify-content-between">
    <div class="col-4">Histogram name:</div>
    <div class="col-4"><span class="badge badge-light" id="caen_histogram_id">-</span></div>
    <div class="col-4"><input type="text" id="caen_histogram_id_request" placeholder="histogram id" class="float-right"></div>
</div>
<div class="row justify-content-between">
    <div class="col-4">List data name:</div>
    <div class="col-4"><span class="badge badge-light" id="caen_list_data_id">-</span></div>
    <div class="col-4"><input type="text" id="caen_list_data_id_request" placeholder="listdata id" class="float-right"></div>
</div>
<div class="row justify-content-between">
    <div class="col-4">List data timeout (min):</div>
    <div class="col-4"><span class="badge badge-light" id="caen_list_data_timeout">-</span></div>
    <div class="col-4"><input type="text" id="caen_list_data_timeout_request" placeholder="listdata id" class="float-right"></div>
</div>
</div>


<div class="input text-right push">
    <button type="button" class="btn btn-secondary padded" onclick="min_itf.caen1.toggleAcquisition()" id="caen_toggle_acquisition">
        Acquisition Stopped</label></button>
    <button type="button" class="btn btn-secondary padded" onclick="min_itf.caen1.toggleListData()" id="caen_toggle_list_data">Not saving list data</button>
    <button type="button" class="btn btn-primary padded" onclick="min_itf.caen1.clearData()">Clear Data</button>
    <button type="button" class="btn btn-primary padded" onclick="min_itf.caen1.saveHistogram()">Save Histogram</button>
    <button type="button" class="btn btn-primary padded" onclick="min_itf.caen1.continueOnError()">Continue</button>
    <button type="button" class="btn btn-primary padded" onclick="min_itf.caen1.saveRegistry()">Save Registry</button>
</div>
<div id="caen_error_status"></div>
<div id="caen_request_status"></div>
</div>

{% endblock %}
