{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<script type="module">
    import * as min_itf from '{{url_for('static', filename='min_itf.js')}}'
    window.onSubmitAmlXy = min_itf.onSubmitAmlXy
</script>
<hr>
<div class="left-to-right"><h5>AML x_y  </h5>
    <h5><span class="badge badge-danger" id="aml_xy_con">Disconnected</span></h5>
</div>
<hr>
<div class="min-container"><label>Timestamp</label><label>13:44.12</label> </div>
<div class="label-with-input">X: <div id="aml_x" class="tab">100</div><input class="push" type="text" id="aml_x" placeholder="X"></div>
<div class="label-with-input">Y: <div id="aml_y" class="tab">15</div><input class="push" type="text" id="aml_y" placeholder="Y"></div>
<div class="input text-right">
    <button type="button" class="btn btn-primary padded" onclick="onSubmitAmlXy()">Submit</button>
    <button type="button" class="btn btn-primary padded" onclick="loadAmlXy()">Load</button>
    <button type="button" class="btn btn-primary padded" onclick="unLoadAmlXy()">Unload</button>
    <button type="button" class="btn btn-primary padded" onclick="AdvancedAmlXy()">Advanced</button>
</div>
<div class="collapse" id="collapseExample">
  <div class="card card-body" id="aml_xy_status">
      status message input
  </div>
</div>

<hr>
<div class="left-to-right"><h5>AML det theta </h5>
    <h5><span class="badge badge-danger" id="aml_det_theta_con">Disconnected</span></h5>
</div>
<hr>
<div class="min-container"><label>Timestamp</label><label>13:44.12</label> </div>
<div class="min-container"><label>det: 100 </label> <input type="text" id="aml_det" placeholder="det"></div>
<div class="min-container"><label>theta: 15.00 </label> <input type="text" id="aml_theta" placeholder="theta"> </div>
</form>
<div class="input text-right">
    <button type="button" class="btn btn-primary padded">Submit</button>
    <button type="button" class="btn btn-primary padded">Load</button>
    <button type="button" class="btn btn-primary padded">Unload</button>
    <button type="button" class="btn btn-primary padded">Advanced</button>
</div>

<hr>
<div class="left-to-right"><h5>AML phi_zeta  </h5>
    <h5><span class="badge badge-danger" id="aml_phi_zeta_con">Disconnected</span></h5>
</div>
<hr>
<div class="min-container"><label>Timestamp</label><label>13:44.12</label> </div>
<div class="min-container"><label>phi: 100 </label> <input type="text" id="aml_phi" placeholder="phi"></div>
<div class="min-container"><label>zeta: 15.00 </label> <input type="text" id="aml_zheta" placeholder="zeta"> </div>
</form>
<div class="input text-right">
    <button type="button" class="btn btn-primary padded">Submit</button>
    <button type="button" class="btn btn-primary padded">Load</button>
    <button type="button" class="btn btn-primary padded">Unload</button>
    <button type="button" class="btn btn-primary padded">Advanced</button>
</div>
<hr>
<div class="left-to-right"><h5>CAEN </h5>
    <h5><span class="badge badge-danger" id="caen_con">Disconnected</span></h5>
</div>
<hr>
<div class="min-container"><label>Timestamp</label><label>13:44.12</label> </div>
<div class="min-container"><label>Histogram Name</label> <input type="text" id="caen_hist_id" placeholder="histogram id"></div>
<div class="min-container"><label>List Data Name</label> <input type="text" id="caen_list_id" placeholder="list data id"></div>
</form>
<div class="input text-right">
    <button type="button" class="btn btn-primary padded">Start Acquisition</button>
    <button type="button" class="btn btn-primary padded">Stop Acquisition</button>
    <button type="button" class="btn btn-primary padded">Clear Data</button>
    <button type="button" class="btn btn-primary padded">Record List Data</button>
    <button type="button" class="btn btn-primary padded">Save Histogram</button>
    <button type="button" class="btn btn-primary padded">Advanced</button>
</div>

{% endblock %}
