{% extends "base.html" %}
{% import "ui_elements.html" as ui_elements %}
{% block title %}RBS Hardware{% endblock %}

{% block content %}


<div class="row">
    <div class="col-sm-4">
        {% for aml in rbs_config["aml"] %}
        {% set prefix = aml["id"] %}
        {% set dTitle = aml["title"] %}
        {% set first_name = aml["first_name"] %}
        {% set second_name = aml["second_name"] %}
        {% set first_load = aml["first_load"] %}
        {% set second_load = aml["second_load"] %}
        {% set url = '/api/' + aml["id"] %}
        <div class="card text-nowrap bg-light text-dark mt-2 mb-5">
            <div class="card-header clearfix">
                <h6 class="float-start"> {{dTitle}}  </h6>
                <div class ="float-end">
                <span class="badge bg-danger" id="{{prefix}}_connect_status">Not Active</span>
                </div>
            </div>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#{{prefix}}_fold" aria-expanded="false" aria-controls="{{prefix}}_fold">
                Expand Toggle
            </button>
            <div class="collapse" id="{{prefix}}_fold">
                <table class="table table-striped table-hover table-sm">
                    <thead> 
                        <tr> <th scope="col">Identifier</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
                    </thead>
                    <tbody>
                        {{ ui_elements.value_row('Request Acknowledge:', prefix +'_request_id') }}
                        {{ ui_elements.value_row('Request Finished:', prefix+'_request_finished') }}
                        {{ ui_elements.value_row('Error:', prefix+'_error') }}
                        {{ ui_elements.value_row_input(first_name+':', 'max_aml.sendFloat', url, prefix, 'first', 'set_m1_target_position', 'move')}}
                        {{ ui_elements.value_row_input(second_name+':', 'max_aml.sendFloat', url, prefix, 'second', 'set_m2_target_position', 'move')}}
                    </tbody>
                </table>

                <div class="clearfix"><div class="btn-group float-end">
                        {{ ui_elements.buttonSpinnerWithCall("Move Both", "max_aml.submit", url, prefix, 'submit') }}
                        {{ ui_elements.buttonWithCall("Load", ui_elements.func3("max_aml.load", prefix, first_load, second_load ))}}
                        {{ ui_elements.buttonSpinnerWithRequest("hide", "max_aml.sendARequest", url, prefix, 'hide', '{"hide":true}') }}
                        {{ ui_elements.buttonSpinnerWithRequest("show", "max_aml.sendARequest", url, prefix, 'show', '{"hide":false}') }}
                        {{ ui_elements.buttonSpinnerWithRequest("continue", "max_aml.sendARequest", url, prefix, 'continue', '{"continue":true}') }}
                    </div></div>
            </div></div>
            {% endfor %}


            {% for motrona in rbs_config["motrona"] %}
            {% set prefix = motrona["id"] %}
            {% set dTitle = motrona["title"] %}
            {% set url = '/api/' + motrona["id"] %}
            <div class="card text-nowrap bg-light text-dark mt-2 mb-5">
                <div class="card-header clearfix">
                    <h6 class="float-start"> {{dTitle}}  </h6>
                    <div class="float-end">
                    <span class="badge bg-danger float-end" id="{{prefix}}_connect_status">Not Active</span>
                    </div>
                </div>
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#{{prefix}}_fold" aria-expanded="false" aria-controls="{{prefix}}_fold">
                    Expand Toggle
                </button>
                <div class="collapse" id="{{prefix}}_fold">
                    <table class="table table-striped table-hover table-sm">
                        <thead> 
                            <tr> <th scope="col">Identifier</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
                        </thead>
                        <tbody>
                            {{ ui_elements.value_row('Request Id:', prefix+'_request_id') }}
                            {{ ui_elements.value_row('Request Finish:', prefix+'_request_finished') }}
                            {{ ui_elements.value_row('Counts:', prefix+'_counts') }}
                            {{ ui_elements.value_row('Counting Status:', prefix+'_status') }}
                            {{ ui_elements.value_row('charge(nC):', prefix+'_charge') }}
                            {{ ui_elements.value_row('Counting time(msec):', prefix+'_counting_time') }}
                            {{ ui_elements.value_row('Current(nA):', prefix+'_current') }}
                            {{ ui_elements.value_row('Error Status:', prefix+'_error') }}
                            {{ ui_elements.value_row_input('Target Charge:', 'max_motrona.sendFloat', url, prefix, 'target_charge', 'target_charge','Set')}}
                        </tbody>
                    </table>

                    <div class="clearfix" style:"overflow: hidden"><div class="btn-group float-end">
                            {{ ui_elements.buttonSpinnerWithRequest("pause", "max_motrona.sendARequest", url, prefix, 'pause', '{"pause_counting":true}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("clear start", "max_motrona.sendARequest", url, prefix, 'clearstart', '{"clear-start_counting":true}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("hide", "max_motrona.sendARequest", url, prefix, 'hide', '{"hide":true}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("show", "max_motrona.sendARequest", url, prefix, 'show', '{"hide":false}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("continue", "max_motrona.sendARequest", url, prefix, 'continue', '{"continue":true}') }}
                        </div></div>

                </div>
            </div>
            {% endfor %}

            {% for caen in rbs_config["caen"] %}
            {% set prefix = caen["id"] %}
            {% set dTitle = caen["title"] %}
            {% set url = '/api/' + caen["id"] %}
            <div class="card text-nowrap mt-2 mb-5">
                <div class="card-header clearfix">
                    <h6 class="float-start"> {{dTitle}}  </h6>
                    <div class="float-end">
                        <span class="badge bg-danger" id="{{prefix}}_connect_status">Not Active</span>
                    </div>
                </div>
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#{{prefix}}_fold" aria-expanded="false" aria-controls="{{prefix}}_fold">
                    Expand Toggle
                </button>
                <div class="collapse" id="{{prefix}}_fold">
                    <table class="table table-striped table-hover table-sm">
                        <thead> 
                            <tr> <th scope="col">Identifier</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
                        </thead>
                        <tbody>
                            {{ ui_elements.value_row('Request Id:', prefix+'_request_id') }}
                            {{ ui_elements.value_row('Request Finish:', prefix+'_request_finished') }}
                            {{ ui_elements.value_row('Acquiring data:', prefix+'_counts') }}
                        </tbody>
                    </table>

                    <div class="clearfix"><div class="btn-group float-end">
                            {{ ui_elements.buttonSpinnerWithRequest("stop", "max_caen.sendARequest", url, prefix, 'pause', '{"pause_counting":true}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("start", "max_caen.sendARequest", url, prefix, 'clearstart', '{"clear-start_counting":true}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("hide", "max_caen.sendARequest", url, prefix, 'hide', '{"hide":true}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("show", "max_caen.sendARequest", url, prefix, 'show', '{"hide":false}') }}
                            {{ ui_elements.buttonSpinnerWithRequest("continue", "max_caen.sendARequest", url, prefix, 'continue', '{"continue":true}') }}
                        </div></div>
                </div>
            </div>

            {% endfor %}
    </div>
    <div class="col-sm-8">
<div class="ratio" style="--bs-aspect-ratio:100%">
        <iframe id="inlineFrameExample" 
            title="Inline Frame Example"
            allowfullscreen
            src="http://127.0.0.1:8050">
        </iframe>
</div>
    </div>

</div>



<script type="module">
    import * as max_motrona from '{{url_for('static', filename='max_motrona.js')}}'
    import * as max_caen from '{{url_for('static', filename='max_caen.js')}}'
    import * as max_aml from '{{url_for('static', filename='max_aml.js')}}'
    window.max_motrona=max_motrona;
    window.max_aml=max_aml;
    window.max_caen=max_caen;


{% for motrona in rbs_config["motrona"]%}   
    max_motrona.refreshData('/api/{{motrona["id"]}}', '{{motrona["id"]}}');
    window.setInterval(function() {
        max_motrona.refreshData('/api/{{motrona["id"]}}', '{{motrona["id"]}}');
    }, 2000);
{% endfor %}

{% for aml in rbs_config["aml"]%}   
    max_aml.refreshData('/api/{{aml["id"]}}', '{{aml["id"]}}');
    window.setInterval(function() {
        max_aml.refreshData('/api/{{aml["id"]}}', '{{aml["id"]}}');
    }, 2000);
{% endfor %}


    </script>
<!--
    <script type="module">
        import * as max_aml from '{{url_for('static', filename='max_aml.js')}}'
    import * as max_motrona from '{{url_for('static', filename='max_motrona.js')}}'
    window.max_aml = max_aml;
    window.max_motrona = max_motrona;
    max_aml.setMinMode();
    max_motrona.setMinMode();
    max_aml.setMinMode();
    max_motrona.setMinMode();
{% for aml in aml_config %}
    max_aml.refreshAllData('/api/{{aml["id"]}}', '{{aml["id"]}}');
{% endfor %}
{% for motrona in motrona_config %}
    max_motrona.refreshAllData('/api/{{motrona["id"]}}', '{{motrona["id"]}}');
{% endfor %}
    window.setInterval(function() {
        {% for aml in aml_config %}
            max_aml.refreshAllData('/api/{{aml["id"]}}', '{{aml["id"]}}');
        {% endfor %}
        {% for motrona in motrona_config %}
            max_motrona.refreshAllData('/api/{{motrona["id"]}}', '{{motrona["id"]}}');
        {% endfor %}

    }, 2000);
    </script>
    -->

    {% endblock %}
