{% macro buttonSpinner(text, spinnerId, onclick) -%}
    <button type="button" class="btn btn-outline-primary" onclick="{{ onclick }}">
        <span class="spinner-border spinner-border-sm" id="{{ spinnerId }}" role="status" style="display:none"></span>
         {{ text }}
    </button>
{% endmacro -%}

{% macro buttonWithCall(text, onclick) -%}
    <button type="button" class="btn btn-outline-primary btn-sm" onclick="{{ onclick }}">
         {{ text }}
    </button>
{% endmacro -%}

{% macro buttonSpinnerWithDescription(text, spinnerId, description, onclick) -%}
<button type="button" class="btn btn-outline-primary text-nowrap" onclick="{{ onclick }}"  data-bs-toggle="tooltip" title="{{description}}">
        <span class="spinner-border spinner-border-sm" id="{{ spinnerId }}" role="status" style="display:none"></span>
         {{ text }}
    </button>
{% endmacro -%}

{% macro toggleButtonSpinner(text, textId, buttonId, spinnerId, onclick) -%}
<button type="button" class="btn btn-secondary" onclick="{{ onclick }}" id="{{ buttonId }}">
    <span class="spinner-border spinner-border-sm" id="{{ spinnerId }}" role="status" style="display:none"></span>
    <span id="{{textId}}" >{{ text }}</span>
</button>
{%endmacro -%}

{% macro toggleButton(text, textId, buttonId, onclick) -%}
<button type="button" class="btn btn-secondary" onclick="{{ onclick }}" id="{{ buttonId }}">
    <span id="{{textId}}" >{{ text }}</span>
</button>
{%endmacro -%}

{% macro dataLabelWithBadge(text,id) -%}
<div class="row justify-content-between">
    <div class="col-5">{{ text }}</div>
    <div class="col-2"><h5><span class="badge bg-success" id={{ id }} >-</span></h5></div>
    <div class="col-5"></div>
</div>
{%endmacro -%}

{% macro dataLabelWithBadgeAndInput(text, badgeId, inputId, inputPlaceholder) -%}
<div class="row justify-content-between">
    <div class="col-5">{{ text}} </div>
    <div class="col-2"><h5><span class="badge bg-success" id={{ badgeId }}>-</span></h5></div>
    <div class="col-5"><input type="text" id={{ inputId }} placeholder="{{ inputPlaceholder }}" class="float-end"></div>
</div>
{%endmacro -%}



{% macro tableHeader() -%}
        <tr> <th scope="col">Identifier</th> <th scope="col">Value</th> <th scope="col">Control</th> </tr>
{%endmacro -%}



{% macro redefineButton(text, badgeId, inputId, spinnerId, onclick) -%}
<div class="row justify-content-between">
    <div class="col-5">{{text}} </div>
    <div class="col-2"><h5><span class="badge bg-success" id="{{ badgeId }}">-</span></h5></div>
    <div class="col-5">
        <div class="input-group mb-3">
            <input type="text" id="{{inputId}}"class="form-control" placeholder="New value" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <button class="btn btn-outline-primary" type="button" onClick="{{onclick}}">
                    <span class="spinner-border spinner-border-sm" id="{{ spinnerId }}" role="status" style="display:none"></span>
                    <span >Set</span>
                </button>
        </div>
    </div>
</div>
{%endmacro -%}

{% macro redefineButtonCall(text, call, url, prefix, id, request, buttonText) -%}
<div class="row justify-content-between">
    <div class="col-5">{{text}} </div>
    <div class="col-2"><h5><span class="badge bg-success" id="{{prefix}}_{{id}}">-</span></h5></div>
    <div class="col-5">
        <div class="input-group mb-3">
            <input type="text" id="{{prefix}}_{{id}}_request"class="form-control" placeholder="New value" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-outline-primary" type="button" id+"{{prefix}}_{{id}}_click"  onClick="{{call}}('{{url}}','{{prefix}}','{{id}}','{{request}}')">
                    <span class="spinner-border spinner-border-sm" id="{{prefix}}_{{id}}_spinner" role="status" style="display:none"></span>
                    <span >{{buttonText}}</span>
                </button>
        </div>
    </div>
</div>
{%endmacro -%}

{% macro toggleCall(text, call, url, prefix, id, request) -%}
<div class="row justify-content-between">
    <div class="col-5">{{text}} </div>
    <div class="col-2"><h5><span class="badge bg-success" id="{{prefix}}_{{id}}">-</span></h5></div>
    <div class="col-5">
    <div class="push-right">
        <div class="form-check form-switch">
            <h3>  <input class="form-check-input" type="checkbox" id="{{prefix}}_{{id}}_click" onClick="{{call}}('{{url}}','{{prefix}}','{{id}}','{{request}}')"></h3>
            <span class="spinner-border spinner-border-sm" id="{{prefix}}_{{id}}_spinner" role="status" style="display:none"></span>
        </div>
    </div>
</div>
</div>
{%endmacro -%}

{% macro buttonSpinnerWithCall(text, call, url, prefix, id) -%}
<button type="button" id="{{prefix}}_{{id}}_click" class="btn btn-outline-primary btn-sm text-nowrap" onclick="{{call}}('{{url}}','{{prefix}}','{{id}}')">
    <span class="spinner-border spinner-border-sm" id="{{prefix}}_{{id}}_spinner" role="status" style="display:none"></span>
         {{ text }}
    </button>
{% endmacro -%}

{% macro buttonSpinnerWithRequest(text, call, url, prefix, id, request) -%}
<button type="button" id="{{prefix}}_{{id}}_click" class="btn btn-outline-primary btn-sm text-nowrap" onclick="{{call}}('{{url}}','{{prefix}}','{{id}}','{{request}}')">
    <span class="spinner-border spinner-border-sm" id="{{prefix}}_{{id}}_spinner" role="status" style="display:none"></span>
         {{ text }}
    </button>
{% endmacro -%}

{% macro redefineDropDownCall(text, call, url, prefix, id, request, values, buttonText) -%}
<div class="row justify-content-between">
    <div class="col-5">{{text}} </div>
<div class="col-2"><h5><span class="badge bg-success" id="{{prefix}}_{{id}}">-</span></h5></div>
    <div class="col-5">
        <div class="input-group mb-3">
            <select class="form-select" id="{{prefix}}_{{id}}_request">
            <option selected>Choose...</option>
            {% for value in values %}
            <option value="{{value}}">{{value}}</option>
            {% endfor %}
          </select>
            <button class="btn btn-outline-primary" type="button" onClick="{{call}}('{{url}}','{{prefix}}','{{id}}','{{request}}')">
                    <span class="spinner-border spinner-border-sm" id="{{prefix}}_{{id}}_spinner" role="status" style="display:none"></span>
                    <span >{{buttonText}}</span>
                </button>
                
        </div>
    </div>
</div>
{%endmacro -%}

{% macro func3(funcName, arg1, arg2, arg3) -%}
{{funcName}}('{{arg1}}','{{arg2}}','{{arg3}}')
{%endmacro -%}

{% macro func2(funcName, arg1, arg2) -%}
{{funcName}}('{{arg1}}','{{arg2}}')
{%endmacro -%}

{% macro activeLink(url, title) -%}
<li class="nav-item ms-2 me-2 flex-nowrap ">
    <a href="{{url}}" class="nav-link  {% if request.path == url %} active {%endif%}">
       {{title}}
   </a>
</li>
{%endmacro -%}

{% macro activeDirectLink(url, title) -%}
<li class="nav-item ms-2 me-2 flex-nowrap">
    <a href="{{url}}" class="nav-link  {% if request.path == url %} active {%endif%}">
       {{title}}
   </a>
</li>
{%endmacro -%}


{% macro value_row(text,id) -%}
<tr>
    <td class="text-nowrap">{{ text }}</td>
    <td><p id={{ id }} >-</p></td>
    <td></td>
</tr>
{%endmacro -%}

{% macro value_row_input(text, call, url, prefix, id, request, buttonText) -%}
<tr>
    <td class="text-nowrap">{{ text }}</td>
    <td><p id={{prefix}}_{{id}} >-</p></td>
    <td> 
        <div class="clearfix">
        <div class="input-group float-end flex-nowrap">
            <input type="text" id="{{prefix}}_{{id}}_request" class="form-control form-control-sm" placeholder="New value" aria-label="Recipient's username" aria-describedby="basic-addon2">
        {{buttonSpinnerWithRequest(buttonText, call, url, prefix, id, request)}}
        </div>
        </div>
    </td>
</tr>
{%endmacro -%}

{% macro value_row_toggle(text, call, url, prefix, id, request) -%}
<tr>
    <td>{{text}}</td>
    <td><p id={{prefix}}_{{id}} >-</p></td>
    <td>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="{{prefix}}_{{id}}_click" onClick="{{call}}('{{url}}','{{prefix}}','{{id}}','{{request}}')">
            <span class="spinner-border spinner-border-sm align-middle" id="{{prefix}}_{{id}}_spinner" role="status" style="display:none"></span>
        </div>
    </td>
</tr>
{%endmacro -%}

{% macro value_row_button(labelText, buttonText, call,url,prefix, id, request) -%}
<tr>
    <td class="text-nowrap">{{labelText}}</td>
    <td><p id={{prefix}}_{{ id }} >-</p></td>
    <td>
        <div class="float-end">
        {{buttonSpinnerWithRequest(buttonText, call, url, prefix, id, request)}}
        </div>
    </td>
</tr>
{%endmacro -%}

{% macro value_row_drop(text, call, url, prefix, id, request, values, buttonText) -%}
<tr>
    <td class="text-nowrap">{{text}}</td>
    <td><p id={{prefix}}_{{id}}>-</p></td>
    <td>
        <div class="input-group input-sm">
            <select class="form-select form-select-sm" id="{{prefix}}_{{id}}_request">
            <option selected>Choose...</option>
            {% for value in values %}
            <option value="{{value}}">{{value}}</option>
            {% endfor %}
          </select>
          {{buttonSpinnerWithRequest(buttonText, call, url, prefix, id, request)}}
                
        </div>
    </td>
</tr>
{%endmacro -%}

