[Unit]
Description=Service Mill - runs erd and rbs experiments
After=wait_eth_up.service
Requires=wait_eth_up.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/wasp-hive/projects/service_mill
ExecStart=/root/wasp-hive/projects/service_mill/run_service_mill.sh
Restart=on-failure
SyslogIdentifier=logbook

[Install]
WantedBy=multi-user.target


